.idea
.gradle
/out
/build
/target
/node_modules
.DS_Store
pet-adoption-frontend/package-lock.json
pet-adoption-frontend/yarn.lock
adopt-dont-shop-450021-353d283bffc9.json
pet-adoption-frontend/.env.production
pet-adoption-frontend/yarn.lock
