.forgotPasswordFullWidth {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.forgotPasswordLeftSection {
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.forgotPasswordForm h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 42px;
    align-self: flex-start;
    margin-bottom: 10px;
}

.forgotPasswordForm {
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.forgotPasswordInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-top: 30px;
    width: 100%;
    gap: 15px;
}

.forgotPasswordForm a {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    align-self: flex-end;
    color: #8B80F9;
    text-decoration: none;
    padding-top: 5px;
}

.forgotPasswordRightSection {
    height: 100%;
    width: 50%;
}

.forgotPasswordImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.forgotPasswordButton {
    width: 100%;
}

.forgotPasswordButton button {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    height: 40px;
    cursor: pointer;
    margin-top: 15px;
}

.forgotPasswordForm p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #808080;
    margin-top: 20px;
}