.heroSection {
    font-family: 'Unbounded', sans-serif;
    background-color: #8B80F9;
    color: white;
    text-align: center;
    padding: 115px 20px;
}

.heroBox {
    margin: 0 auto;
    width: 1000px;
    border: solid 10px black;
    z-index: 1;
    background-color: #6CD4FF;
    padding-top: 100px;
    padding-bottom: 100px;
}

.heroText {
    margin: 0 auto;
    max-width: 80%;
    color: black;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 20px;
}

.ctaButton {
    margin-top: 20px;
    font-family: 'Inter', sans-serif;
    background-color: #CFBFF7;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@keyframes bounce{
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
}

.heroBox img{
    position: absolute;
    width: 200px;
    transition: transform 0.3s ease-in-out;
    animation: bounce 4s infinite ease-in-out;
}

.heroBox img:hover{
    transform: translateY(-10px);
}

/* Positioning */
.topLeft {
    top: 100px;
    left: 100px;
}

.topRight {
    top: 100px;
    right: 100px;
    animation-delay: 5s;
}

.bottomLeft {
    bottom: 20px;
    left: 100px;
    animation-delay: 10s;
}

.bottomRight {
    bottom: 20px;
    right: 70px;
    animation-delay: 15s;
}